:root {
    --primary:  #ff3b3b;
    --secondary: #7424a6;

    --white: #ffffff;
    --black: #373738;
    --gray: #f0f0f0;
    --green: #458f17;

    --font-family: "Inter", sans-serif;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--black);
}

header {
    padding: 20px;
    background-color: var(--primary);
}

.header-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 20px 0;
}

.header-content .logo img {
    display: block;
}

.header-content form {
    text-align: center;
}

.header-content .form input {
    height: 60px;
    width: 80%;
    border: none;
    border-radius: 15px;  
    font-size: 1rem;
    text-align: center;
    outline: 0;
}

.header-content .form input::placeholder {
    font-size: 1rem;
}

.social ul {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.social li a {
    color: var(--white);
}

.social li a .fa-icon{
    font-size: 2rem;
}

.header-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 10px;
}

.header-nav ul li a{
    font-weight: 600;
    color: var(--white);
}


.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1220px;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
}

.container span.hero-item{
    display: block;
    text-align: left;
    color: var(--white);
    font-weight: 600;
    line-height: .9;
}

#hero .container {
    align-items: start;
    justify-content: center;
} 

.hero-item:first-child {
    font-size: 2.5rem;
}

.hero-item:last-child {
    font-size: 4rem;
}

section {
    height: 340px;
    border: 1px solid purple;
}

section#hero {
    background: url('./assets/img/hero_bg.png');
    background-size: cover;
    background-position: top center;
}

main {
    height: auto;
    border: 1px solid blue;
}

.product-container {
    width: 100%;
    padding: 30px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

@media screen and (max-width: 1240px){

    .product-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media screen and (max-width: 768px){

    .product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media screen and (max-width: 425px){

    .product-container {
        grid-template-columns: 1fr;
    }
}

.product-card {
    display: flex;
    flex-direction: column;
    width: auto;
    background: var(--gray);
    border-radius: 14px;
    overflow: hidden;
}

.product-img {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-info {
    padding: 20px;
}

.product-title {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 22px;
    word-wrap: break-word; /* evitar que el texto se desborde de su contenedor */
}

.product-description {
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin: 10px 0;
}

.product-price-block {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.product-price-block .price {
    font-size: 1.2rem;
}

.product-price-block .discount {
    font-size: 13px;
    color: var(--green);
}

.product-tax-policy {
    font-size: 10px;
}  

footer {
    height: auto;
    border: 1px solid #009145;
    background-color: var(--secondary);
}

footer .container {
    display: flex;
    flex-direction: column;
}

.columns-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 20px;
}

.col-items li {
    padding: 5px;
}

.col-items li a {
    color: var(--white);
}

.col-items .col-main-item {
    display: block;
    padding-bottom: 20px;
    font-weight: bold;
    color: var(--white);
}

.copyright {
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--gray);
    color: var(--white);
    font-weight: bold;
}