:root {
    --primary:  #ff3b3b;
    --seconday: #7424a6;

    --white: #ffffff;
    --black: #373738;
    --gray: #f0f0f0;
    --green: #458f17;

    --font-family: "Inter", sans-serif;
}

@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf)
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--font-family);
}

header {
    height: 152px;
    border: 1px solid red;
}

section {
    height: 340px;
    border: 1px solid purple;
}

main {
    height: auto;
    border: 1px solid blue;
}

footer {
    min-height: 368px;
    border: 1px solid #009145;
}

.container {
    width: 1220px;
    margin: 0 auto;
    height: inherit;
    min-height: inherit;
    border: 1px solid springgreen;
}